<!--<div class="container-fluid">
    <h1>Advertisement Form</h1>
    <form>
        <div class="form-group">
            <label>Title</label>
            <input type="Title" class="form-control">
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="name" class="form-control">
        </div>
        <div class="form-group">
            <label>Category</label>
            <select class="custom-select">
             <option selected>I want to select category</option>
             <option *ngFor="let topic of topics">{{topic}}</option>
            </select>    
            </div>
    </form>
</div>-->
